<html>
<head>


</head>
<body>
<form class="formulario" action="/do_updatePublicacion" method="post">
Titulo:<input id="titulo" name="titulo" type="text" value="{{titulo}}"><br/>
Subtitulo:<input id="subtitulo" name="subtitulo" type="text" value="{{subtitulo}}"><br/>
Cuerpo:<textarea rows="3" cols="10" id="cuerpo" name="cuerpo" >{{cuerpo}}</textarea><br/>
Categoria:<select id="categoria" name="categoria"><br/>
<option value="Informativa,Noticia">Informativa/Noticias</option>
<option value="Informativa,Entrevista">Informativa/Entrevistas</option>
<option value="Informativa,Resena">Informativa/Reseñas</option>
<option value="Informativa,Reportaje">Informativa/Reportaje</option>

<option  value="Mixta,Cronica">Mixta/Cronicas</option>
<option  value="Mixta,Reportaje">Mixta/Reportajes</option>
<option value="Copuchas">Copuchas</option>
</select>

<br/>
URLImagen:<input id="imagen" name="imagen" type="text" value="{{imagen}}"><br/>
Tags:<input id="tags" name="tags" type="text" value="{{tags}}">
<br/>
<input type="submit" value"Guardar">
</form>
</select>
</body>
</html>